body.light_bg {
    background: url(../img/Pattern_Light.png) repeat scroll center center;
    background-size: contain;
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 99999999;
  }
  
  #preloader #preloader_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .spinner {
    -webkit-animation: load 1s infinite linear;
    -moz-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
    background: -webkit-linear-gradient(top, #fec608 10%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, #fec608 10%, rgba(255, 255, 255, 0) 100%);
    height: 4em;
    width: 4em;
    border-radius: 50%;
    font-size: 18px;
    margin: auto;
    position: relative;
  }
  
  .spinner:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 50%, #fec608 50%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fec608 50%);
    border-radius: 100%;
    content: '';
  }
  
  .spinner:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 90%;
    background: #fff;
    border-radius: 50%;
    content: '';
    margin: auto;
  }


  .header_area {
    background: #fec608;
  }
  
  .header_area .navbar.navbar-default {
    border: none;
    border-radius: 0px;
    background: transparent;
    margin: 0px;
  }
  
  .header_area .navbar.navbar-default .navbar-header .navbar-brand {
    padding: 0;
    display: block;
    vertical-align: middle;
    line-height: 76px;
  }
  
  .header_area .navbar.navbar-default .navbar-header .navbar-brand img {
    display: inline-block;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
    margin-right: 40px;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
    padding: 0px;
    background: transparent;
    line-height: 80px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
    display: inline-block;
    transition: all 400ms linear 0s;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:hover a, .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.active a {
    color: #fff;
  }
  
  .header_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child {
    margin-right: 0px;
  }
  
  .header_area.stricky-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
  }
  
  .header_area.stricky-fixed + section, .header_area.stricky-fixed + div, .header_area.stricky-fixed + .row {
    margin-top: 80px;
  }

  body .content_inner_bg {
    background: #efefef;
  }



  .about_person_area {
    background: #fff;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .about_person_area .person_img {
    max-width: 322px;
  }
  
  .about_person_area .person_img img {
    max-width: 100%;
  }
  
  .about_person_area .person_img .download_btn {
    margin-top: 40px;
  }
  
  .about_person_area .person_details {
    margin-left: -30px;
  }
  
  .about_person_area .person_details h3 {
    font-size: 36px;
    color: #333333;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .about_person_area .person_details h3 span {
    color: #fec608;
  }
  
  .about_person_area .person_details h4 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #666666;
    padding-bottom: 15px;
  }
  
  .about_person_area .person_details p {
    font-size: 13px;
    line-height: 24px;
    color: #333333;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }
  
  .about_person_area .person_details .person_information {
    padding: 15px 0px 25px 0px;
  }
  
  .about_person_area .person_details .person_information ul {
    display: inline-block;
  }
  
  .about_person_area .person_details .person_information ul li a {
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    font-family: "Raleway", sans-serif;
  }
  
  .about_person_area .person_details .person_information ul + ul {
    padding-left: 55px;
  }
  
  .about_person_area .person_details .person_information ul + ul li a {
    font-size: 13px;
    line-height: 26px;
    color: #666666;
    font-family: "Raleway", sans-serif;
  }


  .social_icon li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .social_icon li a {
    height: 40px;
    width: 40px;
    text-align: center;
    border: 1px solid #677fb5;
    display: block;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 400ms linear 0s;
    color: #677fb5;
  }
  
  .social_icon li:nth-child(2) a {
    color: #70c2e9;
    border-color: #70c2e9;
  }
  
  .social_icon li:nth-child(2):hover a {
    background: #70c2e9;
  }
  
  .social_icon li:nth-child(3) a {
    color: #895a4d;
    border-color: #895a4d;
  }
  
  .social_icon li:nth-child(3):hover a {
    background: #895a4d;
  }
  
  .social_icon li:nth-child(4) a {
    color: #d34836;
    border-color: #d34836;
  }
  
  .social_icon li:nth-child(4):hover a {
    background: #d34836;
  }
  
  .social_icon li:nth-child(5) a {
    color: #007ab9;
    border-color: #007ab9;
  }
  
  .social_icon li:nth-child(5):hover a {
    background: #007ab9;
  }
  
  .social_icon li:nth-child(6) a {
    color: #d8545d;
    border-color: #d8545d;
  }
  
  .social_icon li:nth-child(6):hover a {
    background: #d8545d;
  }
  
  .social_icon li:nth-child(7) a {
    color: #5ecbf3;
    border-color: #5ecbf3;
  }
  
  .social_icon li:nth-child(7):hover a {
    background: #5ecbf3;
  }
  
  .social_icon li:nth-child(8) a {
    color: #ff3ba4;
    border-color: #ff3ba4;
  }
  
  .social_icon li:nth-child(8):hover a {
    background: #ff3ba4;
  }
  
  .social_icon li:last-child {
    margin-right: 0px;
  }
  
  .social_icon li:last-child a {
    color: #faaa5e;
    border-color: #faaa5e;
  }
  
  .social_icon li:last-child:hover a {
    background: #faaa5e;
  }
  
  .social_icon li:hover a {
    background: #677fb5;
    color: #fff;
  }

  .header_area.stricky-fixed + section, .header_area.stricky-fixed + div, .header_area.stricky-fixed + .row {
    margin-top: 80px;
  }

  .row.m0 {
    padding: 0px;
    margin: 0px;
  }

  .pad {
    padding: 0px 68px;
  }  